---
---
@import 'palette';
/*********************************************************
css for map elements
*********************************************************/
#map-container {
  position: relative;
  min-height: 650px;
  width: 100%;
  /*transition: height 0.25s;*/
  margin-bottom: 60px;
  }


#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  background: $bgcolor;
}


#map-sidebar {
  font-family: 'PT Mono', monospace;
  position: absolute;
  right: 0;
  height: 100%;
  background: rgba(25, 25, 25, 0.9);
  border-left: 2px solid $med-gray;
  h4 {
    font-family: inherit;
  }
}


#map-tooltip {
  position: relative;
  letter-spacing: 1px;
  margin-top: 20px;
  transition: opacity 0.25s;
  opacity: 0;
  &.hover,
  &.clicked{
    opacity: 1;
  }
  h4{
    text-align: center;
    color: $text;
    margin-bottom: 24px;
  }
  strong {
    color: $primary;
    text-transform: lowercase;
  }
  ul {
    list-style: none;
    margin: 0 0 16px;
  }
  ul strong { float: right; }
  li {
    border-bottom: 1px solid $border;
    margin-bottom: 8px;
    font-size: 0.8rem;
    padding: 0 6px;
  }
  p {
    text-align: center;
    line-height: 1rem;
    text-align: center;
    color: #AAA;
  }
  p.locked {
    color: $locked_state;
  }
  a.start-mapping {
    background-color: #3A3A3A;
    padding: 8px;
    border-right: 2px solid $bgcolor;
  }
  a.start-mapping.disabled {
    color: $text;
    opacity: 0.4;
  }
  a.close {
    background-color: #3A3A3A;
    color: $med-gray;
    padding: 8px;
  }
  a.start-mapping:hover {
    background-color: #333;
  }
  a.close:hover {
    background-color: #333;
    color: #555;
  }
}


#map-legend {
  letter-spacing: 1px;
  margin-right: 14px;
  h4 {
    font-size: 1rem;
    text-align: center;
    color: $primary;
    margin-bottom: 4px;
  }
  p {
    font-size: 0.6rem;
    color: $med-l-gray;
    text-align: justify;
    margin-bottom: 16px;
  }
  p strong {
    font-weight: normal;
    color: $primary;
  }
  .cell-state ul {
    padding: 0 6px;
    list-style: none;
    margin: 0;
  }
  .cell-state li {
    font-size: 0.7rem;
    padding-bottom: 2px;
  }
  .cell-state li span {
    width: 30px;
    height: 18px;
    margin-right: 14px;
    border: 1px solid #444;
    display: block;
    float: left;
  }
  span.ready { background-color: $ready_state; }
  span.invalidated { background-color: $invalidated_state; }
  span.done { background-color: $done_state; }
  span.validated { background-color: $validated_state; }
  span.locked { 
    background-color: rgba(200,200,200,0.05);
    border-color: $locked-state !important;
  }
  span.empty-cell {
    background-color: #262626;
  }
  .roads-legend {
    padding: 0 6px;
  }
  .roads-legend ul {
    margin: 0;
  }
  .roads-legend li {
    padding: 0;
    list-style: none;
    font-size: 0.6rem;
    text-align: center;
    color: $med-l-gray;
  }
  .roads-legend div{
    height: 8px;
    margin-bottom: 4px;
  }
  .source {
    font-size: 0.6rem;
    padding: 8px 6px;
    color: $med-gray;
    border-top: 1px solid #777;
  }
  .source a {
    color: $med-gray;
    text-decoration: underline;
  }
  .source a:hover {
    color: $med-d-gray;
  }
}

.task-grid,
.satellite-controller {
  padding-left:6px;
  padding-right:6px;
  padding-top:8px;
  ul {
    margin: 0;
  }
  li {
    font-size: 0.7rem;
    text-align: center;
    list-style: none;
    padding: 1px;
    border-bottom: 1px solid $med-d-gray;
    border-left: 1px solid $med-d-gray;
    float: left !important;
  }
  li.active{
    background-color: $med-d-gray;
  }
  li.disabled {
    background-color: $med-d-gray;
    opacity: 0.4;
  }
  li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $med-l-gray;
  }
  li a:hover{
    background-color: $med-d-gray;
  }
  li a:active{
    background-color: transparent;
  }
}

.task-grid {
  li {
    border-top: 1px solid $med-d-gray;
  }
  li:last-child {
    border-right: 1px solid $med-d-gray;
  }
  li a {
    padding: 2px 4px;
  }
}

.satellite-controller {
  padding-bottom: 8px;
  li:nth-of-type(1),
  li:nth-of-type(2),
  li:nth-of-type(4n+6){
    border-right: 1px solid $med-d-gray;
  }
  li[data-id="terrain"].active{
    border-right: 1px solid $med-d-gray;
    background-color: $med-d-gray;
  }
}


.map-gradient {
  position: absolute;
  width: 100%;
  height: 14px;
  z-index: 1;
}
.map-gradient.gradient-top {
  top: 0;
  background: linear-gradient($bgcolor 0%, transparent 100%);
}
.map-gradient.gradient-bottom {
  bottom: 0;
  background: linear-gradient(transparent 0%, $bgcolor 100%);
}


.leaflet-bottom .leaflet-control-scale.leaflet-control {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .leaflet-control-scale-line {
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    border-right: 0;
    border-top: 0;
  }



/*********************************************************
css for geojson data (e.g. project grids)
geojson's classes are set in js/map.js w/ the L.path className option: https://www.mapbox.com/mapbox.js/api/v2.1.5/l-path/#path-options
*********************************************************/

path.project-grid {
  // stroke-width set programaticly by setVectorStrokeWidth() in map.js
  // stroke color set by onEachProjectGridCell() in map.js
  // stroke: #999;
  stroke-opacity: 0;
  fill-opacity: 0.05;
  stroke-linejoin: miter;
  fill: #EDECE9;
  //clip-path: inset(10px 20px 5px 10px);
  // transition: all 0.3s;
  }
  path.user-edits {
    stroke: $secondary;
    stroke-linecap: square;
    stroke-linejoin: miter;
    stroke-opacity: 1;
  }
  // path.project-grid.ready {
  //   fill: $ready_state;
  // }
  // path.project-grid.invalidated {
  //   fill: $invalidated_state;
  //   fill-opacity: 0.4;
  // }
  // path.project-grid.done {
  //   fill: $done_state;
  //   fill-opacity: 0.4;
  // }
  // path.project-grid.validated {
  //   // fill: url({{site.baseurl}}/img/stripe_med_gray_#999999/16_16_1.png);
  //   fill: $validated_state;
  //   fill-opacity: 0.6;
  // }
  // path.project-grid.locked,
  // path.project-grid.locked:hover {
  //   stroke: $locked_state;
  // }
  // path.project-grid.locked.ready {
  //   fill-opacity: 0.1;
  // }
  // path.project-grid.locked.invalidated,
  // path.project-grid.locked.done, {
  //   fill-opacity: 0.5;
  // }
  // path.project-grid.validated {
  //   fill-opacity: 0.7;
  // }
  // path.project-grid.removed {
  //   stroke-opacity: 0;
  //   fill-opacity: 0;
  // }
  // path.project-grid:hover {
  //   stroke-opacity: 0.8;
  //   stroke: $primary-dark;
  // }
  // path.project-grid:active {
  //   stroke: darken($primary-dark, 15%);
  // }
