---
---
@import 'palette';
/*********************************************************
css for map elements
*********************************************************/
.map-container {
  position: relative;
  height: 400px;
  width: 100%;
  /*transition: height 0.25s;*/
  }
  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background: $bgcolor;
  }
  .map-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: $bgcolor;
    background: linear-gradient(transparent 0%, $bgcolor 80%);
  }
  #map .leaflet-control-container .leaflet-control-attribution {
    background: transparent;
    color: #555;
    z-index: 1;
  }
  .leaflet-bottom .leaflet-control-scale.leaflet-control {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .leaflet-control-scale-line {
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    border-right: 0;
    border-top: 0;
  }

.toggle-full-screen {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: transparent;
  color: #666;
  font-size: 0.8rem;
  font-weight: 200;
  padding-top: 10px;
  cursor: pointer;
  }
  .toggle-full-screen:hover {
    color: $primary;
  }


/*********************************************************
css for geojson data (e.g. project areas and project grids)
geojson's classes are set in js/map.js w/ the L.path className option: https://www.mapbox.com/mapbox.js/api/v2.1.5/l-path/#path-options
*********************************************************/
path.project-area {

}

path.project-grid {

}
