---
---
@import 'palette';
@import 'padding-margin';

::selection {
	color: #FFF;
	background-color: rgba(120, 120, 120, 0.6) !important;
}
::-moz-selection {
	color: #FFF;
	 background-color: rgba(120, 120, 120, 0.6) !important;
}

body {
	font-family: 'Open Sans', sans-serif;
  background: $bgcolor;
  color: $text;

}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
  color: #FFF;
  }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.3em; }

small { font-size: 65%; }

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	line-height: 2em;
  }
  p .loud { color: $primary; }

a { color: $primary; }
a:hover, a:focus { color: darken($primary, 12%); }
a.disabled { pointer-events: none; }

button {
	background: $primary;
	font-family: 'Raleway', sans-serif;
	padding: 20px 50px;
	font-size: 1.1em;
	font-weight: 200;
	outline: 0;
  transition: none;
  }
  button:hover {
    background: darken($primary, 10%);
  }

table {
	width: 100%;
	border: none;
  }
  tr {
  	height: 40px;
  	background: #f0f0f0;
  }
  th {
  	background: $primary;
  	color: #fff!important;
  	font-weight: 200;
  }

.keyline-all { border: 1px solid $med-gray; }
.keyline-left { border-left: 1px solid $med-gray; }
.keyline-right { border-right: 1px solid $med-gray; }
.keyline-top { border-top: 1px solid $med-gray; }
.keyline-bottom { border-bottom: 1px solid $med-gray; }

.divider {
	padding: 20px 0;
}

.caps { text-transform: uppercase; }


.header {
	width: 100%;
	min-height: 140px;
  background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
  border-bottom: 1px solid $med-gray;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }
  .header h1 {
    color: $primary;
  }
  .header .logo {
  	width: 60%;
  	float: left;
  	text-align: left;
    position: relative;
    top: -12px;
  }
  .header .logo h1 {
    padding-left: 0.9375rem;
    margin-bottom: 0;
  }
  .header span { color: #FFF; }
  .header a:hover span { color: #DDD; }
  .header .navigation {
  	width: 40%;
  	float: right;
  	text-align: right;
  }
  .header .navigation ul {
  	list-style-type: none;
    margin-bottom: 0;
  }
  .header .navigation ul li {
  	display: inline-block;
  	font-weight: 200;
  	color: #fff;
  	margin-right: 20px;
  }
  .header .navigation a.active {
    color: $primary;
  }
  .header .navigation a:hover{
    color: darken($primary, 10%);
  }
  .header .navigation a,
  .header .navigation a:active {
  	color: #fff;
  }


.menu {
  background: transparent;
  padding-bottom: 0;
  }
  .menu.fixed {
    background-color: rgba(50, 53, 56, 0.95);
    transition: background ease-in-out 0.2s;
    border-bottom: 4px solid #777;
    z-index: 9999;
  }

#tutorial {
  transition: background ease-in-out 0.3s;
  box-shadow: inset 0px 4px 0px rgba(171, 171, 171, 0.1);
  }
  #tutorial:hover:not(.active) {
    background-color: #1F1D1F;
    cursor: pointer;
  }
  #tutorial .show-tutorial h4 {
    color: $primary;
  }
  #tutorial .show-tutorial p {
    font-family: Raleway, sans-serif;
    line-height: 1.2rem;
  }
  #tutorial .section-container{
    position: relative;
    height: 0;
  }
  #tutorial .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: $med-gray;
    z-index: 1;
  }
  #tutorial section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: $med-gray;
  }

.footer {
  background: $med-d-gray;
  border-top: 4px solid #777;
  }
  .footer ul {
    list-style-type: none;
    padding-top: 10px;
    margin-left: 0;
  }
  .footer a {
    font-size: 0.8em;
    font-weight: 200;
    color: #fff;
    line-height: 2em;
  }
  .footer a:hover {
    color: #ddd;
  }



.content {
	padding-bottom: 60px;
  }
  .content h1 {
  	text-align: center;
  	color: $primary;
    margin-bottom: 1.2rem;
  }
  .content button {
  	padding: 15px 30px;
  }
  .content h2, .content h3 {
  	color: $primary;
  	margin-top: 0px;
  }
  .content h4 {
  	color: #a4a4a4;
  	font-size: 1.1em;
  	margin-bottom: 0px;
  }
  .content section {
    margin-bottom: 6rem;
  }



.country {
  height: 250px;
  }
  .country h4 {
    clear: both;
  }
  .country a:hover .mg {
    color: $primary;
  }
  .country a:hover h4 {
    color: #FFF;
  }
  .country .mg,
  .country a:active {
    color: #EEE;
  }
  .country .disabled .mg {
    color: #888;
  }
  .country .mg-fw:before {
    vertical-align: middle; /* vertically center mapglyph */
  }


.error-404 p { color: #aaa; }
.error-404 span { color: $primary; }


.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
