---
---
@import 'palette';
@import 'padding-margin';

$arrow-width: 26px;
$arrow-height: 14px;

::selection {
	color: #FFF;
	background-color: rgba(120, 120, 120, 0.6) !important;
}
::-moz-selection {
	color: #FFF;
	 background-color: rgba(120, 120, 120, 0.6) !important;
}

body {
	font-family: 'Open Sans', sans-serif;
  background: $bgcolor;
  color: $text;

}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
  color: #FFF;
  }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.3em; }

small { font-size: 65%; }

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	line-height: 2em;
  }
  p .loud { color: $primary; }

a { color: $primary; }
  a:hover, a:focus { color: $primary-dark; }
  a.disabled { pointer-events: none; }

button,
.button {
	background: transparent;
	font-family: 'Raleway', sans-serif;
	padding: 14px 6px;
	font-size: 1.1em;
	font-weight: 200;
	outline: 0;
  transition: none;
  }
  button:hover,
  .button:hover,
  button:focus,
  .button:focus {
    background: rgba(255,255,255,0.1);
  }

table {
	width: 100%;
	border: none;
  }
  tr {
  	height: 40px;
  	background: #f0f0f0;
  }
  th {
  	background: $primary;
  	color: #fff!important;
  	font-weight: 200;
  }

.keyline-all { border: 1px solid $med-gray; }
.keyline-left { border-left: 1px solid $med-gray; }
.keyline-right { border-right: 1px solid $med-gray; }
.keyline-top { border-top: 1px solid $med-gray; }
.keyline-bottom { border-bottom: 1px solid $med-gray; }

.divider {
	padding: 20px 0;
}

.caps { text-transform: uppercase; }

.arrow {
  // defaults to up
  height: 0;
  width: 0;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  border-bottom: $arrow-height solid $med-d-gray;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
  }
  .arrow.up {
    // margin-bottom: 2px;
  }
  .arrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    // margin-top: 2px;
  }

header {
	width: 100%;
	min-height: 140px;
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 50% 50%;
  border-bottom: 1px solid $med-gray;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  overflow: hidden;
  &.header-home {
    min-height: 560px;
  }
  .masthead,
  nav {
    margin-top: 8px;
  }
  .masthead img {
    height: 40px;
  }
  .header-body {
    position: absolute;
    top: 20%;
    li button {
      border: 1px solid #CCC;
      border-right: 0 !important;
    }
  }
  h1 {
    font-size: 2.4rem;
    color: $text;
  }
  p {
    color: $text;
  }
  nav {
  	width: 40%;
  	float: right;
  	text-align: right;
  }
  nav ul {
  	list-style-type: none;
    margin-bottom: 0;
  }
  nav ul li {
  	display: inline-block;
  	font-weight: 200;
  	color: #fff;
  	margin-right: 20px;
  }
  nav a.active {
    color: $primary;
  }
  nav a:hover{
    color: $primary-dark;
  }
  nav a,
  nav a:active {
  	color: #fff;
  }
}


section.tutorial {
  position: relative;
  margin-bottom: 0 !important; // remove
  &:not(.active){
    display: none;
  }
  div.tutorial-container {
    position: relative;
  }
  div.tutorial-page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: $med-gray;
    margin: 4rem 0;
  }
   .tutorial-nav {
    position: absolute;
    height: 300px;
    top: 110px;
    left: -12px;
    width: 4px;
  }
   .tutorial-nav .box {
    background: $med-d-gray;
    height: 22px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
   .tutorial-nav .box.active {
    background: $dark-gray;
  }
   .advance-section {
    position: absolute;
    padding: 30px 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    &[data-dir="prev"] { top: 0px; }
    &[data-dir="next"] { bottom: 0px; }
    &:hover .arrow { border-bottom-color: $dark-gray; }
  }
  .advance-section .arrow {
    margin: 0 50%;
    position: relative;
    left: -$arrow-width;
  }
}

#leaderboard li {
  list-style: none;
  color: #CCC;
  padding-top: 6px;
  border-bottom: 1px solid #222;
  &.head-row {
    color: #999;
    margin-bottom: 6px;
    border-bottom: 1px solid $med-d-gray;
    }
  a:active {
    color: $secondary;
  }
  }


.footer {
  background: $med-d-gray;
  border-top: 4px solid #777;
  }
  .footer ul {
    list-style-type: none;
    padding-top: 10px;
    margin-left: 0;
  }
  .footer a {
    font-size: 0.8em;
    font-weight: 200;
    color: #fff;
    line-height: 2em;
  }
  .footer a:hover {
    color: #ddd;
  }



.content {
	padding-bottom: 60px;
  }
  .content h1 {
  	text-align: center;
  	color: $primary;
    margin-bottom: 1.2rem;
  }
  .content button {
  	padding: 15px 30px;
  }
  .content h2, .content h3 {
  	color: $primary;
  	margin-top: 0px;
  }
  .content h4 {
  	color: #a4a4a4;
  	font-size: 1.1em;
  	margin-bottom: 0px;
  }
  .content section {
    margin-bottom: 6rem;
  }



.country {
  height: 250px;
  }
  .country h4 {
    clear: both;
  }
  .country a:hover .mg {
    color: $primary;
  }
  .country a:hover h4 {
    color: #FFF;
  }
  .country .mg,
  .country a:active {
    color: #EEE;
  }
  .country .disabled .mg {
    color: #888;
  }
  .country .mg-fw:before {
    vertical-align: middle; /* vertically center mapglyph */
  }


.error-404 p { color: #aaa; }
.error-404 span { color: $primary; }


.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }


.striped {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAACVBMVEWZmZmZmZn///+JQwtGAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAbSURBVAjXY3BgZWAQZWAIYWAMYGB1gDAZAhgBFtcB/4QtqrAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDEtMDlUMTY6NTU6NDQtMDU6MDAXVyIiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTAxLTA5VDE2OjU1OjQ0LTA1OjAwZgqangAAAABJRU5ErkJggg==)
}
.dot-pattern {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('{{site.baseurl}}/img/dot-matrix.png');
}
