---
---
@import 'palette';
@import 'padding-margin';

::selection {
	color: #FFF;
	background-color: rgba(120, 120, 120, 0.6) !important;
}
::-moz-selection {
	color: #FFF;
	 background-color: rgba(120, 120, 120, 0.6) !important;
}

body {
	font-family: 'Open Sans', sans-serif;
  background: $bgcolor;
  color: $text;

}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
  color: #FFF;
  }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.3em; }

small { font-size: 65%; }

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	line-height: 2em;
  }
  p .loud { color: $primary; }

a { color: $primary; }
  a:hover, a:focus { color: darken($primary, 12%); }
  a.disabled { pointer-events: none; }
  a.close {
    color: $med-gray;
    z-index: 1;
    padding: 10px;
  }
  a.close:hover {
    color: $med-d-gray;
  }

button {
	background: $primary;
	font-family: 'Raleway', sans-serif;
	padding: 20px 50px;
	font-size: 1.1em;
	font-weight: 200;
	outline: 0;
  transition: none;
  }
  button:hover {
    background: darken($primary, 10%);
  }

table {
	width: 100%;
	border: none;
  }
  tr {
  	height: 40px;
  	background: #f0f0f0;
  }
  th {
  	background: $primary;
  	color: #fff!important;
  	font-weight: 200;
  }

.keyline-all { border: 1px solid $med-gray; }
.keyline-left { border-left: 1px solid $med-gray; }
.keyline-right { border-right: 1px solid $med-gray; }
.keyline-top { border-top: 1px solid $med-gray; }
.keyline-bottom { border-bottom: 1px solid $med-gray; }

.divider {
	padding: 20px 0;
}

.caps { text-transform: uppercase; }

.arrow {
  // defaults to up
  height: 0;
  width: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 14px solid $med-d-gray;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
  }
  .arrow.up {
    // margin-bottom: 2px;
  }
  .arrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    // margin-top: 2px;
  }

.header {
	width: 100%;
	min-height: 140px;
  background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
  border-bottom: 1px solid $med-gray;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  overflow: hidden;
  }
  .header.header-home{
    position: relative;
    min-height: 540px;
  }
  .header.header-home .menu:not(.fixed) {
    position: absolute;
    bottom: 0;
  }
  .header h1 {
    color: $primary;
  }
  .header .logo {
  	width: 60%;
  	float: left;
  	text-align: left;
    position: relative;
    top: -12px;
  }
  .header .logo h1 {
    padding-left: 0.9375rem;
    margin-bottom: 0;
  }
  .header span { color: #FFF; }
  .header a:hover span { color: #DDD; }
  .header .navigation {
  	width: 40%;
  	float: right;
  	text-align: right;
  }
  .header .navigation ul {
  	list-style-type: none;
    margin-bottom: 0;
  }
  .header .navigation ul li {
  	display: inline-block;
  	font-weight: 200;
  	color: #fff;
  	margin-right: 20px;
  }
  .header .navigation a.active {
    color: $primary;
  }
  .header .navigation a:hover{
    color: darken($primary, 10%);
  }
  .header .navigation a,
  .header .navigation a:active {
  	color: #fff;
  }


.menu {
  background: transparent;
  padding-bottom: 0;
  }
  .menu.fixed {
    background-color: rgba(50, 53, 56, 0.95);
    transition: background ease-in-out 0.2s;
    border-bottom: 1px solid #777;
    z-index: 9999;
  }

#tutorial {
  background-color: $bgcolor;
  transition: background ease-in-out 0.3s;
  box-shadow: inset 0px 4px 0px rgba(171, 171, 171, 0.1);
  }
  #tutorial:hover:not(.active) {
    background-color: #1F1D1F;
  }
  #tutorial:not(.active) .tutorial-head {
    cursor: pointer;
  }
  #tutorial .tutorial-head h4 {
    color: $primary;
  }
  #tutorial .tutorial-head p {
    font-family: Raleway, sans-serif;
    line-height: 1.2rem;
  }
  #tutorial .tutorial-body {
    position: relative;
    opacity: 0;
  }
  #tutorial .tutorial-body section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: $med-gray;
  }
  #tutorial .close {
    position: absolute;
    top: -36px;
    right: -10px;
  }
  #tutorial .tutorial-nav {
    position: absolute;
    height: 300px;
    top: 46px;
    left: -12px;
    width: 4px;
  }
  #tutorial .tutorial-nav .box {
    background: $med-d-gray;
    height: 22px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  #tutorial .tutorial-nav .box.active {
    background: $dark-gray;
  }
  #tutorial .advance-section {
    position: absolute;
    padding: 20px 50%;
    z-index: 1;
    cursor: pointer;
    &[data-dir="prev"] { top: -40px; }
    &[data-dir="next"] { bottom: -40px; }
    &:hover .arrow { border-bottom-color: $dark-gray; }
  }

.footer {
  background: $med-d-gray;
  border-top: 4px solid #777;
  }
  .footer ul {
    list-style-type: none;
    padding-top: 10px;
    margin-left: 0;
  }
  .footer a {
    font-size: 0.8em;
    font-weight: 200;
    color: #fff;
    line-height: 2em;
  }
  .footer a:hover {
    color: #ddd;
  }



.content {
	padding-bottom: 60px;
  }
  .content h1 {
  	text-align: center;
  	color: $primary;
    margin-bottom: 1.2rem;
  }
  .content button {
  	padding: 15px 30px;
  }
  .content h2, .content h3 {
  	color: $primary;
  	margin-top: 0px;
  }
  .content h4 {
  	color: #a4a4a4;
  	font-size: 1.1em;
  	margin-bottom: 0px;
  }
  .content section {
    margin-bottom: 6rem;
  }



.country {
  height: 250px;
  }
  .country h4 {
    clear: both;
  }
  .country a:hover .mg {
    color: $primary;
  }
  .country a:hover h4 {
    color: #FFF;
  }
  .country .mg,
  .country a:active {
    color: #EEE;
  }
  .country .disabled .mg {
    color: #888;
  }
  .country .mg-fw:before {
    vertical-align: middle; /* vertically center mapglyph */
  }


.error-404 p { color: #aaa; }
.error-404 span { color: $primary; }


.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
