---
---
@import 'palette';
@import 'padding-margin';

$advance-section-height: 60px;
$arrow-width: 26px;
$arrow-height: 14px;

body {
	font-family: 'Open Sans', sans-serif;
  background: $bgcolor;
  color: $text;

}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
  color: #FFF;
  }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.3em; }
  h1, h2 { color: $primary; }

small { font-size: 65%; }

strong { font-weight: 600; }

p {
  color: $med-l-gray;
	line-height: 2em;
  &.loud,
  .loud { color: $primary; }
  &.shrink { font-size: 0.9rem; }
}

li { 
  color: $med-l-gray;
  line-height: 2em;
}

hr {
  border-color: $dark-gray;
  margin: 3rem 1rem;
}

a { 
  color: $primary;
  }
  a:hover, a:focus {
    color: $primary-dark;
  }
  a.disabled { pointer-events: none; }

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

button,
.button {
	background: transparent;
  color: $primary;
	font-family: 'Raleway', sans-serif;
	padding: 14px 6px;
	font-size: 1.1em;
	font-weight: 200;
	outline: 0;
  transition: none;
  }
  button:hover,
  .button:hover,
  button:focus,
  .button:focus {
    background: rgba(0,0,0,0.25);
    color: $primary-dark;
  }

table {
	width: 100%;
	border: none;
  }
  tr {
  	height: 40px;
  	background: #f0f0f0;
  }
  th {
  	background: $primary;
  	color: #fff!important;
  	font-weight: 200;
  }

.keyline-all { border: 1px solid $med-gray; }
.keyline-left { border-left: 1px solid $med-gray; }
.keyline-right { border-right: 1px solid $med-gray; }
.keyline-top { border-top: 1px solid $med-gray; }
.keyline-bottom { border-bottom: 1px solid $med-gray; }

.divider {
	padding: 20px 0;
}

.caps { text-transform: uppercase; }

.arrow {
  // defaults to up
  height: 0;
  width: 0;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  border-bottom: $arrow-height solid $med-d-gray;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
  }
  .arrow.up {
    // margin-bottom: 2px;
  }
  .arrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    // margin-top: 2px;
  }

header {
	width: 100%;
	min-height: 140px;
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 50% 50%;
  border-bottom: 1px solid $med-gray;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  overflow: hidden;
  &.header-home {
    min-height: 700px;
  }
  .masthead,
  nav {
    margin-top: 8px;
  }
  .masthead {
    position: relative;
  }
  .masthead:after {
    position: absolute;
    content: 'beta';
    font-size: 0.8rem;
    color: #DDD;
    right: -18px;
    top: 4px;
  }
  .loud { color: $primary; }
  .header-body {
    button {
      border-color: #fff;
      color: $primary;
      margin: 0 !important;
      line-height: 2rem;
    }
    button:hover {
      color: $primary-dark;
    }
  }
  h2 {
    color: $text;
  }
  p {
    color: $text;
    font-size: 1.1rem;
    a { 
      color: $med-l-gray;
      // border-bottom: 1px dotted $med-l-gray;
    }
    a:hover{
      color: $primary-dark;
      // border-bottom: 1px dotted $primary-dark;
    }
  }
  nav {
  	width: 40%;
  	float: right;
  	text-align: right;
  }
  nav ul {
  	list-style-type: none;
    margin-bottom: 0;
  }
  nav ul li {
  	display: inline-block;
  	font-weight: 200;
  	color: #fff;
  	margin-right: 20px;
  }
  nav a.active {
    color: $primary;
  }
  nav a:hover{
    color: $primary;
  }
  nav a,
  nav a:active {
  	color: #fff;
  }
}

#tutorial {
  .tutorial-page {
    width: 100%;
    padding: $advance-section-height 40px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 0.3s;
    overflow: hidden;
  }
  .tutorial-page p {
    // text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    color: $text;
    font-size: 1.1rem;
  }
  .tutorial-page p strong {
    font-weight: inherit;
    color: $primary;
  }
  .tutorial-page .tutorial-body {
    position: relative;
    background-color: $bgcolor;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 0 2px rgba(0,0,0,0.5);
  }
  .tutorial-page .tutorial-image {
    height: 300px;
  }
  .tutorial-page[data-index="1"]{
    background-color: mix($tutorial-bg1, $tutorial-bg2, 100%);
  }
  .tutorial-page[data-index="2"]{
    background-color: mix($tutorial-bg1, $tutorial-bg2, 75%);
  }
  .tutorial-page[data-index="3"]{
    background-color: mix($tutorial-bg1, $tutorial-bg2, 50%);
  }
  .tutorial-page[data-index="4"]{
    background-color: mix($tutorial-bg1, $tutorial-bg2, 25%);
  }
  .tutorial-page[data-index="5"]{
    background-color: mix($tutorial-bg1, $tutorial-bg2, 0%);
  }
}

#guide {
  img {
    float: right;
    margin: 0px 0px 15px 15px;
    width:40%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
  }
  img:hover {
    width: 100%;
  }
}


#leaderboard,
#countries {
  margin-top: 3rem;
  margin-bottom: 8rem;
}


#leaderboard {
  li.tab-title {
    padding: 0;
    a {
      background: transparent;
      color: $med-d-gray;
    }
    a:hover {
      color: $secondary;
    }
    &.active a,
    a:active {
      color: $secondary-dark;
    }
  }
  li.head-row {
    color: #999;
    margin-bottom: 6px;
    border-bottom: 1px solid $med-d-gray;
  }
  li.top-editor {
    list-style: none;
    color: #CCC;
    padding-top: 6px;
    border-bottom: 1px solid #222;
    a:hover {
      color: $secondary;
    }
    a:active {
      color: $secondary-dark;
    }
  }
}


.country {
  height: 250px;
  }
  .country h4 {
    clear: both;
    color: $med-gray;
    font-size: 1.1rem;
  }
  .country a:hover .mg {
    color: $primary;
  }
  .country a:hover h4 {
    color: #FFF;
  }
  .country .mg,
  .country a:active {
    color: #EEE;
  }
  .country .disabled .mg {
    color: #888;
  }
  .country .mg-fw:before {
    vertical-align: middle; /* vertically center mapglyph */
  }


.footer {
  background: $med-d-gray;
  border-top: 4px solid #777;
  }
  .footer ul {
    list-style-type: none;
    padding-top: 10px;
    margin-left: 0;
  }
  .footer a {
    font-size: 0.8em;
    font-weight: 200;
    color: #fff;
    line-height: 2em;
  }
  .footer a:hover {
    color: #ddd;
  }
  .footer .hashtag {
    padding-bottom: 6px;
    a { color: $primary; }
    a:hover { color: $primary-dark; }
  }




.error-404 p { color: #aaa; }
.error-404 span { color: $primary; }


.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }


.striped {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAACVBMVEWZmZmZmZn///+JQwtGAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAbSURBVAjXY3BgZWAQZWAIYWAMYGB1gDAZAhgBFtcB/4QtqrAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDEtMDlUMTY6NTU6NDQtMDU6MDAXVyIiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTAxLTA5VDE2OjU1OjQ0LTA1OjAwZgqangAAAABJRU5ErkJggg==)
}
.dot-pattern {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('{{site.baseurl}}/img/dot-matrix.png');
}
  
