---
layout: map
banner: cifor_wood_truck.jpg
title: home

baseLayer: crowdcover.2f433a39
center:
  lat: 0.0
  lon: 22.0
  zoom: 6

## redeployed http://45.55.129.242:6543/ projects
tm_projects:
  drc:
    project_id: 2
  car:
    project_id: 3
  cog:
    project_id: 4
---

{% include tutorial.html %}

{% include map-container.html %}

<section id="leaderboard" class="row clearfix">
  <h2 class="text-center">Leaderboard</h2>
  <p class="text-center shrink">List of top contributors, ranked by number of edits.<br>Click on a User Name to view their edits.</p>
  <div class="large-12 columns">
    <div id="top-editors">
<!--       <ul>
        <li class="head-row clearfix">
          <span class="large-6 columns">User Name</span>
          <span class="large-2 columns text-right">Total Edits</span>
          <span class="large-2 columns text-right">Node Edits</span>
          <span class="large-2 columns text-right">Way Edits</span>
        </li>
      </ul> -->
    </div>
  </div>
</section>

<section id="countries">
  <div class="row">

    <div class="large-12 columns mbl">
      <h2 class="text-center">Start Mapping</h2>
      <p class="text-center shrink">To contribute, click on a country below and choose a single grid task from the Tasking Manager.  Editing is handled by the Humanitarian OpenStreetMap Team's Tasking Manager.</p>
      <p class="text-center shrink">For more detailed instructions, check out the project <a href="{{site.baseurl}}/guide/">Mapping Guide</a>.</p>
    </div>

    <div class="large-12 columns small-block-grid-1 medium-block-grid-3">
      {% for country in site.data.countries %}
        {% assign col = forloop.index0 | modulo:3 | plus:1 %}
        <li class="country ptm {% if forloop.rindex <= 3 %}last-row {% endif %}
                               {% if col == 3 or forloop.last %}last-col{% endif %}">
          <a href="http://tasks.loggingroads.org/project/{{country.tm_project_id}}"
             class="clearfix {% unless country.tm_project_id %}disabled{% endunless %}" target="_blank">
            <div class="large-12 columns mg mg-fw mg-6x {{country.map_glyph}}"></div>
            <h4 class="text-center ptm phm mvn">{{country.name}}</h4>
            {% unless country.tm_project_id %}
              <h4 class="text-center mvn"><em>coming soon...</em></h4>
            {% endunless %}
          </a>
        </li>
      {% endfor %}
    </div>

    {% comment %}

      {% for country in site.data.countries %}
        {% if forloop.index0 | modulo:3 == 0 %}
          <div class="row small-block-grid-1 medium-block-grid-3">
        {% endif %}
          <li class="country ptm keyline-bottom {% unless forloop.index %}keyline-right{% endunless %}">
            <a href="http://tasks.loggingroads.org/project/{{country.tm_project_id}}"
               class="clearfix {% if country.tm_project_id == null %}disabled{% endif %}" target="_blank">
              <div class="large-12 columns mg mg-fw mg-6x {{country.map_glyph}}"></div>
              <h4 class="text-center pam">{{country.name}}</h4>
            </a>
          </li>
        {% if forloop.index | modulo:3 == 0 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}

    {% endcomment %}

  </div>
</section>
