---
layout: home
banner: wri_logging-truck-cameroon.jpg

baseLayer: crowdcover.2f433a39
center:
  lat: -2.87
  lon: 22.83
  zoom: 5
---
<div class="map-container">
  <div id="map"></div>
  <div class="map-gradient"></div>
</div>

<div class="row">
  <div class="large-12 columns mtl">
    <p class="text-center">The Logging Roads Initiative is a joint project of the World Resource Institute and CrowdCover that aims to analyze and make available geographic data on all logging roads in the Congo Basin region of Central Africa.  Using fifteen years of satellite imagery, the project will record the precise spread of logging roads over time.  All data will be added to the <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and licensed in the <a href="http://www.openstreetmap.org/copyright" target="_blank">public domain</a>.</p>
    <p class="text-center">If you would like to contribute, please read the project guides on interpreting satellite imagery and using the editing tools.  To learn more about OpenStreetMap and open geographic data, see our About page.</p>
    <h1>Click on a country below to start mapping</h1>
  </div>
</div>
<div class="divider"></div>

<div class="row">
  <div class="large-12 columns">
    {% for n in (0..2) %}
      {% include country.html country = n %}
    {% endfor %}
  </div>

  <div class="large-12 columns">
    {% for n in (3..5) %}
      {% include country.html country = n %}
    {% endfor %}
  </div>
</div>
