<div class="country small-12 medium-4 columns ptm keyline-bottom {% unless forloop.last %}keyline-right{% endunless %}">
  <!-- <a href="{{site.baseurl}}{{site.countries[include.country].url}}" -->
  <a href="http://tasks.loggingroads.org/project/{{site.countries[include.country].tm_project_id}}"
     class="clearfix {% if site.countries[include.country].tm_project_id == null %}disabled{% endif %}" target="_blank">
    <div class="large-12 columns mg mg-fw mg-6x {{site.countries[include.country].map_glyph}}"></div>
    <h4 class="text-center pam">{{site.countries[include.country].title}}</h4>
  </a>
</div>
