  <div class="footer ptm">
    <div class="row">
      <div class="small-12 large-8 columns">
        <ul>
          <li><a href="{{site.baseurl}}/about/">About</a></li>
          <li><a href="mailto:{{site.email}}">Contact Us</a></li>
        </ul>
      </div>

      <div class="large-4 hide-of-small-only columns">
        <a class="twitter-timeline" data-theme="dark" height="300" data-link-color="#F8842E" data-chrome="nofooter transparent" href="https://twitter.com/search?q=logging-roads" data-widget-id="575765554457243648">Tweets about logging-roads</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

    <div class="text-center keyline-top hashtag"><small><a href="https://twitter.com/search?q=CongoLoggingRoads&src=typd">#CongoLoggingRoads</a></small></div>

  </div>
