  <div class="header" style="background-image: linear-gradient(rgba(145, 140, 130, 0.4), rgba(0, 0, 0, 0.8)), url('{{site.baseurl}}/img/{{page.banner}}')">
    <div class="menu">
      <div class="row">
        <!-- <div class="logo"><a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/logo.png" /></a></div> -->
        <div class="logo">
          <h1>
            {% if page.layout == 'country' %}
              <a href="{{site.baseurl}}/"><span>Logging Roads</span> {{page.title}}</a>
            {% else %}
              <a href="{{site.baseurl}}/"><span>Logging</span> Roads</a>
            {% endif %}
          </h1>
        </div>
        <div class="navigation">
          <ul>
            <li><a href="{{site.baseurl}}/about/" class="{% if page.title == 'about' %}active{% endif %}">About</a></li>
            <li><a href="{{site.baseurl}}/guide/" class="{% if page.title == 'guide' %}active{% endif %}">Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      {% if page.layout == 'main' or page.layout == 'home' %}
        <div class="description small-12 medium-4 columns mvm">{{site.description_short}}</div>
      {% endif %}
    </div>
  </div>
