<header class="header {% if page.title == 'home' %}header-home{% endif %}" style="background-image: linear-gradient(rgba(65, 65, 62, 0.4), rgba(0, 0, 0, 0.9)), url('{{site.baseurl}}/img/{{page.banner}}')">

  <div class="row mbl">
    <div class="small-12 medium-8 columns masthead">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/img/masthead.png">
      </a>
    </div>

    <nav class="small-12 medium-4 columns">
      <ul>
        <li class="text-center"><a href="{{site.baseurl}}/about/" class="{% if page.title == 'about' %}active{% endif %}">About</a></li>
        <li class="text-center"><a href="{{site.baseurl}}/guide/" class="{% if page.title == 'guide' %}active{% endif %}">Guide</a></li>
      </ul>
    </nav>
  </div>

  {% if page.title == 'home' %}

      <div class="row">
        <div class="small-12 medium-7 columns header-body">
          <h2 class="mbs">Monitoring Logging Roads<br>in the Congo Basin</h2>
          <div class="mbl">
            <p>The Logging Roads project is a joint initiative of the <a href="http://wri.org/">World Resource Institute</a> and <a href="http://rdc.moabi.org">CrowdCover</a> to monitor the spread of logging roads across the Congo Basin.  The project relies on open contributions from the crowd to interpret satellite imagery and track the growth of logging activity.</p>
            <p>All data will be added to <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and licensed in the <a href="http://www.openstreetmap.org/copyright">public domain</a>.</p>
            <!-- <p>Interested?  Scroll down to learn more.</p> -->
          </div>
          <button class="small-6 columns text-center keyline-top scroll-to" href="#" data-scroll="tutorial" onclick="app.showTutorial()">How it Works</button>
          <button class="small-6 columns text-center keyline-top keyline-left scroll-to" href="#" data-scroll="map-container">Track Progress</button>
          <button class="small-12 columns text-center keyline-top keyline-bottom scroll-to" href="#" data-scroll="countries">Start Mapping</button>
        </div>
      </div>

  {% elsif page.layout == 'country' %}

    <div class="row">
      <div class="small-12 medium-7 large-5 columns">
        <h2 class="mtm mbs">{{page.title}}</h2>
        <p class="mbl">{{site.description_short}}</p>
      </div>
    </div>

  {% elsif page.title == 'about' %} 

    <div class="row">
      <div class="small-12 medium-7 large-5 columns">
        <h2 class="mtm mbs">About</h2>
        <p class="mbl">{{site.description_short}}</p>
      </div>
    </div>

  {% elsif page.title == 'guide' %} 

    <div class="row">
      <div class="small-12 medium-7 large-5 columns">
        <h2 class="mtm mbs">Guide</h2>
        <p class="mbl">{{site.description_short}}</p>
      </div>
    </div>

  {% else %} {% comment %}---Default---{% endcomment %}

    <div class="row">
      <div class="small-12 medium-7 large-5 columns">
        <h1 class="mtm mbs">Tracking Logging Roads<br>in the Congo Basin</h1>
        <p class="mbl">{{site.description_short}}</p>
      </div>
    </div>

  {% endif %}

</header>
