<section id="leaderboard" class="row">
  <h2 class="text-center">Leaderboard</h2>
  <p class="text-center">List of the top contributors, ranked by number of edits.</p>
  <div class="large-12 columns">
    <ul id="top-editors">
      <li class="head-row clearfix">
        <!-- <span class="large-1 columns"></span> -->
        <span class="large-6 columns">User Name</span>
        <span class="large-2 columns text-right">Total Edits</span>
        <span class="large-2 columns text-right">Node Edits</span>
        <span class="large-2 columns text-right">Way Edits</span>
      </li>
    </ul>
    <!-- <svg id="chart" width="1000" height="500"></svg> -->
  </div>
</section>
