<section id="map-container">
  <div class="map-gradient gradient-top"></div>

  <div id="map"></div>

  <div id="map-sidebar" class="medium-3 column hide-for-small-only">
    <!-- <h4 class="text-center ptm">LOGGING ROADS<br>TASKING MANAGER</h4> -->

    <div id="map-tooltip">
      <script id="tooltip-template" type="text/x-handlebars-template">{% include project-grid-tooltip.html %}</script>
    </div>

    <div id="map-legend" class="v-align">
      <div class="satellite-controller keyline-bottom pbs mbs">
        <h4 class="">Base Layer</h4>
        <p class="">view roads against satellite imagery to track change over time, or select <strong>terrain</strong> to view roads against a blank background</p>
        <ul class="clearfix">
          <li class="large-12 columns active" data-id="terrain"><a href="#">terrain</a></li>
          <li class="large-12 columns" style="border-right: 1;"><a href="#" class="disabled">satellite</a></li>
          <li class="large-3 medium-6 columns" data-id="2000"><a href="#">2000</a></li>
          <li class="large-3 medium-6 columns" data-id="2001"><a href="#">2001</a></li>
          <li class="large-3 medium-6 columns" data-id="2002"><a href="#">2002</a></li>
          <li class="large-3 medium-6 columns" data-id="2003"><a href="#">2003</a></li>
          <li class="large-3 medium-6 columns" data-id="2004"><a href="#">2004</a></li>
          <li class="large-3 medium-6 columns" data-id="2005"><a href="#">2005</a></li>
          <li class="large-3 medium-6 columns" data-id="2006"><a href="#">2006</a></li>
          <li class="large-3 medium-6 columns" data-id="2007"><a href="#">2007</a></li>
          <li class="large-3 medium-6 columns" data-id="2008"><a href="#">2008</a></li>
          <li class="large-3 medium-6 columns" data-id="2009"><a href="#">2009</a></li>
          <li class="large-3 medium-6 columns" data-id="2010"><a href="#" class="">2010</a></li>
          <li class="large-3 medium-6 columns" data-id="2011"><a href="#">2011</a></li>
          <li class="large-3 medium-6 columns" data-id="2012"><a href="#">2012</a></li>
          <li class="large-3 medium-6 columns" data-id="2013"><a href="#">2013</a></li>
        </ul>
      </div>

      <div class="cell-state">
        <h4>Tasking Manager Grids</h4>
        <p>edits are microtasked to coordinate collaboration</p>
        <ul class="mbs">
          <li><span class='empty-cell'></span>Task Grid Cell</li>
        </ul>
      </div>

<!--       <h4>Cell State</h4>
      <div class="task-grid clearfix">
        <ul>
          <li class="medium-6 active" data-id="show"><a href="#">Show Grid</a></li>
          <li class="medium-6" data-id="hide"><a href="#">Hide Grid</a></li>
        </ul>
      </div>

      <div class="cell-state">
        <ul>
          <li><span class='ready'></span>READY</li>
          <li><span class='invalidated'></span>INVALIDATED</li>
          <li><span class='done'></span>DONE</li>
          <li><span class='validated'></span>VALIDATED</li>
          <li><span class='locked'></span>LOCKED</li>
        </ul>
      </div> -->

      <div class="source">
        <div><strong>Map: </strong>&copy; <a href='https://www.mapbox.com/about/maps/' target='_blank'>Mapbox</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></div>
        <div><strong>Logging Roads: </strong><a href="http://www.wri.org/our-work/project/congo-basin-forest-atlases">WRI Forest Atlas</a></div>
      </div>
    </div>

  </div>

  <div class="map-gradient gradient-bottom">
    <!-- <div class="small-12 toggle-full-screen text-center"><em>enlarge map</em></div> -->
  </div>

</section>
