<div class="map-container">
  <div class="map-gradient gradient-top"></div>

  <div id="map"></div>
  <div id="map-sidebar" class="medium-3 column hide-for-small-only monospace">
    <a href="#" class="close">
      <small>+ close</small>
    </a>
    <!-- <div style="height: 60%"> -->
      <div id="map-tooltip">
        <script id="tooltip-template" type="text/x-handlebars-template">{% include project-grid-tooltip.html %}</script>
      </div>
    <!-- </div> -->

    <!-- <div style="height: 40%"> -->
      <div id="map-legend">
        <h4>LOGGING ROADS TASKING MANAGER</h4>
        <ul>
          <li><span class='ready'></span>READY</li>
          <li><span class='invalidated'></span>INVALIDATED</li>
          <li><span class='done'></span>DONE</li>
          <li><span class='validated'></span>VALIDATED</li>
        </ul>
      <!-- </div> -->
    </div>

  </div>

  <div class="map-gradient gradient-bottom">
    <!-- <div class="small-12 toggle-full-screen text-center"><em>enlarge map</em></div> -->
  </div>

</div>
