<section class="tutorial">

  <div class="advance-section" data-dir="prev">
    <div class="arrow up"></div>
  </div>

  {% include tutorial-nav.html %}

  {% for section in site.data.tutorial %}
    <div class="tutorial-page" 
         data-index="{{forloop.index}}" 
         style="background-image: linear-gradient(rgba(65, 65, 62, 0.4), rgba(0, 0, 0, 0.9)), url('{{section.img}}')">
      <div class="section-body small-12 large-8 columns">
        <p>{{section.body | markdownify }}</p>
      </div>
    </div>
  {% endfor %}

  <div class="advance-section" data-dir="next">
    <div class="arrow down"></div>
  </div>

</section>
