$bgcolor: #171617;
$bgcolor-hover: lighten($bgcolor, 2%);
$text: #F1F1F1;

$primary: #F8842E;
$primary-dark: darken($primary, 12%);

$med-l-gray: #CCCCCC;
$med-gray: #777777;
$med-d-gray: #323538;
$dark-gray: #222222;

$border: $med-gray;

$ready_state: #EDECE9;
$invalidated_state: #999;
$done_state: #FFDB99;
$validated_state: #99CC99;
