$bgcolor: #171617;
$bgcolor-hover: lighten($bgcolor, 2%);
$text: #F1F1F1;

$primary: #F8842E;
// $primary-dark: #F16405;
$logo: #FC7C1F;
$primary-dark: darken($primary, 12%);
$secondary: #7AE0FD;
$secondary-light: #B7F6FD;
$secondary-dark: #4C8B9E;

// experimental
$tutorial-bg1: #f8ffcc;
$tutorial-bg2: #ff8943;

// $tutorial-bg1: #384448;
// $tutorial-bg2: #4B676F;

// $tutorial-bg1: #CEF4FF;
// $tutorial-bg2: #65A1BD;

$light-gray: #CCCCCC;
$med-l-gray: #BBB;
$med-gray: #777777;
$med-d-gray: #323538;
$dark-gray: #222222;

$border: $med-gray;

$ready_state: #EDECE9;
$invalidated_state: #999;
$done_state: #FFDB99;
$locked_state: #CB370F;
$validated_state: #99CC99;
