---
# main layout used on pages that only need common.js, not map.js
# Eg: about, guide
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include dochead.html %}
  </head>
  <body>

  {% include header.html %}

  {{content}}

  {% include footer.html %}

  <script>
    var pageConfig = undefined;
  </script>
  <script src="{{site.baseurl}}/js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}/js/vendor/handlebars-v3.0.1.js"></script>
  <script src="{{site.baseurl}}/js/common.js"></script>
  <script src="{{site.baseurl}}/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    app.initCommon();
  </script>
  <script>
    {% include google-analytics.js %}
  </script>
  </body>
</html>
