---
# main layout used on pages that need common.js and map.js
# Eg: home (all countries use _layouts/country.html, which inherits from this layout)
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include dochead.html %}

    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link rel="stylesheet" href="{{site.baseurl}}/css/map.css">
  </head>
  <body>

  {% include header.html %}

  <div class="content">
    {{content}}
  </div>

  {% include footer.html %}

  <script>
    var pageConfig = {
      baseLayer: '{{page.baseLayer}}',
      center: [{{page.center.lat}}, {{page.center.lon}}],
      zoom: {{page.center.zoom}},
      task_number: {{ page.task_number | jsonify }},
      project_areas: {{ page.project_areas | jsonify }}
    }
  </script>
  <script src="{{site.baseurl}}/js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}/js/common.js"></script>
  <script src="{{site.baseurl}}/js/map.js"></script>
  <script src="{{site.baseurl}}/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    app.initCommon();
    app.initMap();
  </script>
  </body>
</html>
